<html>
    <body>
        <h1> MAKE A NEW COMMENT</h1>
    <form action="">
        <section>
            <label for="username">username</label>
            <input type="text" id="username" placeholder="username">
        <br>
        <label for="comment">comment</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </section>
    </form>
        
    </body>
    </html>